<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>noteform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' media='screen' href='main.css'>
    <script src="main.js"></script>
    
</head>
<body>
   
<h2>Delete "{{ note.title }}"?</h2>
<form method="POST">
  {% csrf_token %}
  <button>Yes, delete</button>
  <a href="{% url 'note_list' %}">Cancel</a>
</form>
</body>
</html>