{% extends 'notes_base.html' %}
{% block title %}{% if note %}Edit{% else %}Create{% endif %} Note{% endblock %}

{% block content %}
<h3 class="mb-3 text-center">{% if note %}Edit{% else %}Create{% endif %} Note</h3>

<form method="POST">
    {% csrf_token %}
    <div class="mb-2">
        <label>Title</label><br>
        <input name="title" value="{{ note.title|default:'' }}" required>
    </div>
    <div class="mb-3">
        <label>Content</label><br>
        <textarea name="content" rows="6" required>{{ note.content|default:'' }}</textarea>
    </div>
    <button class="btn btn-blue w-100">Save</button>
</form>
{% endblock %}
