{% extends 'notes_base.html' %}
{% load static %}

{% block title %}Your Notes{% endblock %}
    
{% block content %}
<h2 class="mb-3">Your Notes, {{ request.user.username }}</h2>

{% if notes %}
    {% for n in notes %}
        <div class="note-card">
            
            <h3>{{ n.title }}</h3>
            <p>{{ n.content }}</p>

            {% if n.summary %}
                
                    <strong>AI Summary:</strong>
                    <p>{{ n.summary|linebreaks }}</p>
                    
            {% endif %}

            <div style="margin-top:12px;">
                <a href="{% url 'edit_note' n.id %}" class="btn btn-grey">Edit</a>
                <a href="{% url 'delete_note' n.id %}" class="btn btn-red">Delete</a>
                <a href="{% url 'summarize_note' n.id %}" class="btn btn-blue">Summarize</a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No notes yet. Click <strong>New Note</strong> to create one.</p>
{% endif %}

{% endblock %}
