{% extends 'notes_base.html' %}
{% block title %}Sign up | Notes{% endblock %}

{% block content %}
<h3 class="mb-3">Create Account</h3>

<form method="POST">
    {% csrf_token %}
    <div class="mb-2">
        <label>Username</label><br>
        <input name="username" required>
    </div>
    <div class="mb-2">
        <label>Password</label><br>
        <input type="password" name="password1" required>
    </div>
    <div class="mb-3">
        <label>Confirm Password</label><br>
        <input type="password" name="password2" required>
    </div>
    <button class="btn btn-blue w-100">Register</button>

    {% if error %}
        <p style="color:red" class="mt-2">{{ error }}</p>
    {% endif %}
</form>

<p class="mt-2">
    Have an account? <a href="{% url 'login' %}">Login</a>
</p>
{% endblock %}
