
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;

    background: linear-gradient(135deg, #8e2de2 0%, #4a00e0 40%, #1f1f78 100%);
    background-attachment: fixed;
    box-shadow: inset 0 0 60px rgba(0,0,0,0.4);
    color: white;
}

a { color: inherit; }

/* navbar*/
.topbar {
    width: 100%;
    background: rgba(20, 20, 50, 0.5);
    backdrop-filter: blur(14px);
    padding: 12px 24px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 4px 25px rgba(0,0,0,0.4);
}

.topbar nav a {
    background: rgba(255, 255, 255, 0.15);
    padding: 8px 16px;
    border-radius: 6px;
    margin-left: 10px;
    text-decoration: none;
    transition: 0.25s ease;
}

.topbar nav a:hover {
    background: rgba(255,255,255,0.3);
    transform: translateY(-3px);
}


/* wrapper*/
.wrapper {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px 40px;

    background: rgba(255,255,255,0.08);
    border-radius: 20px;
    backdrop-filter: blur(14px);

    box-shadow: 0 10px 40px rgba(0,0,0,0.35);
}


/* Headings */
h2, h3 {
    text-shadow: 0 0 10px rgba(255,255,255,0.5);
    font-weight: 600;
}


.note-card {
    background: rgba(255,255,255,0.10);
    border: 1px solid rgba(255,255,255,0.25);
    padding: 20px;
    border-radius: 14px;
    margin-bottom: 20px;

    box-shadow: 0 6px 25px rgba(0,0,0,0.3);
    transition: 0.25s ease;
}

.note-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 40px rgba(0,0,0,0.45);
}



.btn {
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    display: inline-block;
    transition: 0.25s ease;
}

.btn-blue {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
}

.btn-red {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
}

.btn-grey {
    background: rgba(255,255,255,0.25);
}

.btn:hover {
    transform: scale(1.07);
    opacity: 0.9;
}



input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;

    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 10px;
    color: white;

    font-size: 15px;
    backdrop-filter: blur(10px);
}

input::placeholder,
textarea::placeholder {
    color: rgba(255,255,255,0.7);
}

textarea {
    resize: vertical;
}



* {
    transition: 0.2s ease;
}
